.article {
    font-family: Arial, Helvetica, sans-serif;
    background: #fefefe;
    font-size: 14px;
    color: #2e415c;
    width:1000px;
    border: 1px solid rgba(0,89,181,0.82);
    padding: 3px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px -1px rgb(0,81,202);
}

.news_title {
    text-decoration: none;
    color: rgb(46,65,92);
    font-size: 20px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.news_text {
    margin: 5px 0 0 0;
    display: block;
}